@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0086bb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#table-container {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

